.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #333;
  line-height: 34px;
  text-transform: uppercase;
  height: 40px;
  background: #000000;
  z-index: 99;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 1%;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

/* 모바일 스타일 */
@media screen and (max-width: 479px) {
  .logo {
    font-size: 1rem;
  }
}

/* 태블릿 및 모바일 가로 스타일  */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .logo {
    font-size: 1rem;
  }
}

/*  저해상도 데스크톱 + 태블릿 스타일 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
  }
}

/* 데스크톱 스타일*/
@media screen and (min-width: 1024px) {
  .logo {
  }
}
